button {
  width: 100%;
  
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  border: 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 12px;

  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;

  transition: all ease-in-out 0.15s;
}

button:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}