#navbar {
  position: fixed;
  right: 0;
  left: 0;

  width: 100vw;
  height: 48px;
  padding-left: 16px;

  display: flex;
  align-items: center;
  flex-direction: row;

  z-index: 2;
}

.navbar-title {
  transition: all ease-in-out 0.45s;
}

.navbar-item {
  opacity: 0.5;
  margin-right: 32px;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}

.navbar-item:hover {
  opacity: 1.0;
}

.navbar-selected {
  color: var(--color-primary);
  opacity: 1.0;
}
