@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto:wght@400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.text-title {
  font-family: 'Jost';
  font-weight: 600;
}