html {
  scroll-behavior: auto;
}

.App-light {
  --color-background: #fafafa;
  --color-action: #ececec;
  --color-foreground: #ffffff;
  --color-text: #000000;
  --color-primary: #FFBE0B;
}

.App-dark {
  --color-background: #0a0a0a;
  --color-action: #000000;
  --color-foreground: #000000;
  --color-text: #ffffff;
  --color-primary: #efaf00;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

.icon {
  fill: var(--color-text);
}

.App {
  position: relative;
  color: var(--color-text);
}

.App-background {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  position: fixed;
  background-color: var(--color-background);
  transition: background-color ease-in-out 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page {
  background-color: var(--color-background);
  transition: background-color ease-in-out 0.3s;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-width {
  width: min(100%, 1024px);
}

.section {
  box-sizing: border-box;
  width: min(100%, 1024px);
  padding: 24px;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

body > * {
  overflow-anchor: none;
}